.blog-table-wrapper {
    padding: 24px 0;
    max-width: 90%;
    margin-left: 50px;
}

.blog-table-wrapper .table-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.blog-table-wrapper .table-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
