.recipe-info-wrapper .recipe-title {
  text-transform: uppercase;
  font-size: 50px;
}

.recipe-info-wrapper .recipe-detail .author {
  display: flex;
  align-items: center;
  gap: 5px;
}

.recipe-info-wrapper .recipe-detail span {
  font-size: 18px;
}

.recipe-info-wrapper .recipe-detail p {
  margin-top: 10px;
  font-size: 18px;
}

.recipe-info-wrapper .cooking-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-top: 10px;
}

.recipe-info-wrapper .swiper-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.favorite-icon-detail {
  color: #fff;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.25), 0 0px 2px #000;
  transition: color 0.2s;
  font-size: 40px;
}
.favorite-icon-detail.favorited {
  color: #e74c3c;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.25), 0 0px 2px #000;
}
.favorite-icon-detail:hover {
  filter: brightness(1.2);
  opacity: 0.85;
}
