@import url("../../variables.css");

.recipe-card .card {
  position: relative;
  min-height: 300px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform, box-shadow;
}

.recipe-card img {
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
  will-change: transform;
}

.recipe-card .card-body {
  height: 100px;
}

.recipe-card .card-link {
  text-decoration: none;
  color: var(--text-color);
}

.recipe-card .card-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}

.recipe-card .card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.recipe-card .card img:hover {
  transform: scale(1.05);
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 35px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.favorite-icon.favorited {
  color: #ff4d4d;
  transform: scale(1.1);
}

.favorite-icon:hover {
  transform: scale(1.1);
}
